{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Востребованность специалистов по информационной безопасности</title>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="../../static/it/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
        <p class="logo">
        <img src="../../static/it/img/free-icon-secure-shield-388531.png" width="64" height="68" alt="logo">
        </p>
      <h1>IT-Безопасность</h1>
    </header>
    <main>
        <section class="side-menu">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                  <a href="/main/">Главная страница</a>
                </li>
                <li class="site-navigation-item">
                  <a href="/demand/">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                  <a href="/geo/">География</a>
                </li>
                <li class="site-navigation-item">
                  <a href="#">Навыки</a>
                </li>
                <li class="site-navigation-item">
                  <a href="#">Последние вакансии</a>
                </li>
              </ul>
        </section>
        <section class="main-info headvost">
            <h2 class="vost">
                Статистические данные* по профессии "Специалист по информационной безопасности"
            </h2>
            <ul class="tables-graphics">
                <li>
                    <table border="1">
                        <caption>Динамика уровня зарплат по годам</caption>
                        <tr>
                            <th>Год</th>
                            <th>Зарплата(руб.)</th>
                        </tr>
                        <tr><td>2015</td><td>57259</td></tr>
                        <tr><td>2016</td><td>67729</td></tr>
                        <tr><td>2017</td><td>69632</td></tr>
                        <tr><td>2018</td><td>91804</td></tr>
                        <tr><td>2019</td><td>79153</td></tr>
                        <tr><td>2020</td><td>75569</td></tr>
                        <tr><td>2021</td><td>86650</td></tr>
                        <tr><td>2022</td><td>102513</td></tr>
                    </table>
                    <img src="../../static/it/img/graph1.jpeg" class="graph">
                </li>
                <li>
                    <table border="1">
                        <caption>Динамика количества вакансий по годам</caption>
                        <tr>
                            <th>Год</th>
                            <th>Количество вакансий</th>
                        </tr>
                        <tr><td>2015</td><td>9358</td></tr>
                        <tr><td>2016</td><td>28916</td></tr>
                        <tr><td>2017</td><td>38682</td></tr>
                        <tr><td>2018</td><td>58478</td></tr>
                        <tr><td>2019</td><td>70559</td></tr>
                        <tr><td>2020</td><td>87249</td></tr>
                        <tr><td>2021</td><td>54116</td></tr>
                        <tr><td>2022</td><td>17030</td></tr>
                    </table>
                    <img src="../../static/it/img/graph2.jpeg" class="graph">
                </li>
                <li>
                    <table border="1">
                        <caption>Динамика уровня зарплат по годам для выбранной профессии</caption>
                        <tr>
                            <th>Год</th>
                            <th>Зарплата(руб.)</th>
                        </tr>
                        <tr><td>2015</td><td>46870</td></tr>
                        <tr><td>2016</td><td>61845</td></tr>
                        <tr><td>2017</td><td>74423</td></tr>
                        <tr><td>2018</td><td>66649</td></tr>
                        <tr><td>2019</td><td>65266</td></tr>
                        <tr><td>2020</td><td>63556</td></tr>
                        <tr><td>2021</td><td>74116</td></tr>
                        <tr><td>2022</td><td>82330</td></tr>
                    </table>
                    <img src="../../static/it/img/graph3.jpeg" class="graph">
                </li>
                <li>
                    <table border="1">
                        <caption>Динамика количества вакансий по годам для выбранной профессии</caption>
                        <tr>
                            <th>Год</th>
                            <th>Количество вакансий</th>
                        </tr>
                        <tr><td>2015</td><td>25</td></tr>
                        <tr><td>2016</td><td>107</td></tr>
                        <tr><td>2017</td><td>134</td></tr>
                        <tr><td>2018</td><td>232</td></tr>
                        <tr><td>2019</td><td>381</td></tr>
                        <tr><td>2020</td><td>604</td></tr>
                        <tr><td>2021</td><td>433</td></tr>
                        <tr><td>2022</td><td>165</td></tr>
                    </table>
                    <img src="../../static/it/img/graph4.jpeg" class="graph">
                </li>
            </ul>
            <p class="alt-text">*Данные взяты с сайта hh.ru</p>
        </section>
    </main>
    <footer>
      <p class="author-info">Хуснутдинов В.Р. - РИ-210910</p>
    </footer>
  </body>
</html>