{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Востребованность специалистов по информационной безопасности</title>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="../../static/it/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header class="geoerr">
        <p class="logo">
        <img src="../../static/it/img/free-icon-secure-shield-388531.png" width="64" height="68" alt="logo">
        </p>
      <h1>IT-Безопасность</h1>
    </header>
    <main>
        <section class="side-menu">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                  <a href="/main/">Главная страница</a>
                </li>
                <li class="site-navigation-item">
                  <a href="/demand/">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                  <a href="/geo/">География</a>
                </li>
                <li class="site-navigation-item">
                  <a href="#">Навыки</a>
                </li>
                <li class="site-navigation-item">
                  <a href="#">Последние вакансии</a>
                </li>
              </ul>
        </section>
        <section class="main-info geoo">
            <h2 class="vost">
                Статистические данные* по профессии "Специалист по информационной безопасности"
            </h2>
            <ul class="tables-geo">
                <li class="geo-li">
                    <table border="1">
                        <caption>Уровень зарплат по городам(в порядке убывания)</caption>
                        <tr>
                            <th>Город</th>
                            <th>Зарплата(руб.)</th>
                        </tr>
                        <tr><td>Москва</td><td>100088</td></tr>
                        <tr><td>Екатеринбург</td><td>73060</td></tr>
                        <tr><td>Санкт-Петербург</td><td>70289</td></tr>
                        <tr><td>Красноярск</td><td>68182</td></tr>
                        <tr><td>Нур-Султан</td><td>64316</td></tr>
                        <tr><td>Нижний Новгород</td><td>60612</td></tr>
                        <tr><td>Казань</td><td>58870</td></tr>
                        <tr><td>Краснодар</td><td>55063</td></tr>
                        <tr><td>Новосибирск</td><td>54890</td></tr>
                        <tr><td>Пермь</td><td>54691</td></tr>
                    </table>
                    <img src="../../static/it/img/graph5.png" class="graph geo">
                </li>
                <li class="geo-li">
                    <table border="1">
                        <caption>Доля вакансий по городам(в порядке убывания)</caption>
                        <tr>
                            <th>Город</th>
                            <th>Количество вакансий</th>
                        </tr>
                        <tr><td>Москва</td><td>0.3066</td></tr>
                        <tr><td>Санкт-Петербург</td><td>0.0923</td></tr>
                        <tr><td>Воронеж</td><td>0.0322</td></tr>
                        <tr><td>Новосибирск</td><td>0.0259</td></tr>
                        <tr><td>Екатеринбург</td><td>0.0259</td></tr>
                        <tr><td>Казань</td><td>0.0255</td></tr>
                        <tr><td>Нижний Новгород</td><td>0.0231</td></tr>
                        <tr><td>Омск</td><td>0.0192</td></tr>
                        <tr><td>Алматы</td><td>0.0173</td></tr>
                        <tr><td>Уфа</td><td>0.0154</td></tr>
                    </table>
                    <img src="../../static/it/img/graph6.png" class="graph geo">
                </li>
            </ul>
            <p class="alt-text">*Данные взяты с сайта hh.ru</p>
        </section>
    </main>
    <footer>
      <p class="author-info">Хуснутдинов В.Р. - РИ-210910</p>
    </footer>
  </body>
</html>