{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Безопасность</title>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="../../static/it/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
        <p class="logo">
        <img src="../../static/it/img/free-icon-secure-shield-388531.png" width="64" height="68" alt="logo">
        </p>
      <h1>IT-Безопасность</h1>
    </header>
    <main>
        <section class="side-menu">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                  <a href="/main/">Главная страница</a>
                </li>
                <li class="site-navigation-item">
                  <a href="/demand/">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                  <a href="/geo/">География</a>
                </li>
                <li class="site-navigation-item">
                  <a href="#">Навыки</a>
                </li>
                <li class="site-navigation-item">
                  <a href="#">Последние вакансии</a>
                </li>
              </ul>
        </section>
        <section class="main-info">
            <h3>
                Специалист по информационной безопасности - кто это?
            </h3>
            <p class="main-info-text">
                Защита информации в сфере IT считается высшим профессиональным уровнем. В условиях жесткой конкурентной борьбы современные компании вынуждены уделять повышенное внимание сохранности данных. В связи с этим возрастает роль специалистов по информационной безопасности. Специалист по информационной безопасности обеспечивает конфиденциальность данных, предотвращает утечку или несанкционированный доступ к информации, принимает непосредственное участие в создании системы защиты информации, ее аудите и мониторинге, анализирует информационные риски, разрабатывает и внедряет мероприятия по их предотвращению. В его компетенцию также входит установка, настройка и сопровождение технических средств защиты информации.

                Специалисты по информационной безопасности входят в тройку лидеров среди IT-специальностей в условиях кризиса. В Москве на одну вакансию специалиста по информационной безопасности приходится только два резюме!
                
                Современные специалисты по безопасности должны владеть средствами, которые помогут им провести мониторинг безопасности IT-среды, организовать защиту против известных и вновь возникающих угроз, оперативно выявлять и сдерживать любые атаки, а также проводить восстановительные мероприятия. При этом они должны обеспечить свободный и безопасный доступ к корпоративной информации и ресурсам, организовав виртуальные частные сети, построив несколько уровней защиты, обеспечив отказоустойчивость, мониторинг и контроль. В обязанности специалиста по информационной безопасности также зачастую входит обучение и консультирование сотрудников по вопросам обеспечения информационной безопасности и составление нормативно-технической документации.
            </p>
            <img src="../../static/it/img/spec.jpg" alt="Профессия специалист по информационной безопасности">
            <h3>
                Плюсы профессии:
            </h3>
            <ul class="positive">
                <li>
                    Используются самые передовые технологии
                </li>
                <li>
                    Сфера информационной безопасности стремительно развивается, а значит, спрос на специалистов в этой области будет расти еще долго
                </li>
                <li>
                    Высокий уровень оплаты труда
                </li>
            </ul>
            <h3>
                Как стать специалистом по ИБ
            </h3>
            <p class="main-info-text">
                Путь в профессию специалиста по информационной безопасности похож на стандартный для ИТ — сначала курсы или самообучение, затем стажировка и перевод на полноценную работу.

                Судя по отзывам инженеров на профессиональных площадках, для старта в профессии достаточно 9–12 месяцев, из которых полгода занимает обучение на курсах.
            </p>
        </section>
    </main>
    <footer>
      <p class="author-info">Хуснутдинов В.Р. - РИ-210910</p>
    </footer>
  </body>
</html>